table,td,tbody,tr{
    border: 5px solid rgb(229, 23, 126);
    padding: 10px;
    background-color: aquamarine;
    border-collapse: collapse;
    text-align: center;
}
tfoot{
    text-align: center;
}
table{
    width: 100%;
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(179, 179, 179);
}
th{
    background-color: rgb(213, 132, 243);
}